src/main/resources/vtm_ing_v1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 29/11/2022 MIJOH  Initial XSD layout defined-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="VTM_INGREDIENTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VTM_ING" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VTMID" 		type="xs:integer"  minOccurs="1" maxOccurs="1" />
							<xs:element name="ISID" 		type="xs:integer"  minOccurs="1" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
